<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title *ngIf="nameClub != undefined" >{{nameClub}}</ion-title>
    <ion-buttons slot="end">
      <ion-icon style="font-size: 28px;" name="ribbon"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<h4 class="title">List Events</h4>
<ion-grid>
  <ion-row *ngFor="let le of listEvent">
    <ion-col col-12 >
      <app-custom-card nameClub="{{nameClub}}" [listEvent]="le"></app-custom-card>
    </ion-col>
  </ion-row>
  </ion-grid>


</ion-content>
