<ion-card >
  <img src="{{listDetailEvent.event.image}}" width="150" height="130"/>
  <ion-card-header>
    <ion-card-title>
      <ion-row>
        <ion-col center text-center>
        <!--button intersted-->
        <ion-button *ngIf="listDetailEvent.user_action === 'interested'" fill="solid" size="small"  color="primary" (click)='presentActionSheet(listDetailEvent.event.id)'>
          <ion-icon  name="star"></ion-icon>
          <div >{{listDetailEvent.user_action}}</div>

        </ion-button>
        <!--button going-->
        <ion-button *ngIf="listDetailEvent.user_action === 'going'" fill="solid" size="small"  color="primary" (click)='presentActionSheet(listDetailEvent.event.id)'>
          <ion-icon  name="checkmark-circle"></ion-icon>
          <div>{{listDetailEvent.user_action}}</div>
        </ion-button>
        <!--button not going-->
        <ion-button *ngIf="listDetailEvent.user_action === 'not_going'" fill="solid" size="small"  color="primary" (click)='presentActionSheet(listDetailEvent.event.id)'>
          <ion-icon name="close"></ion-icon>
          <div>Not Going</div>
          </ion-button>
        <!--button default-->
        <ion-button *ngIf="!listDetailEvent.user_action" fill="outline" size="small"  color="secondary" (click)='presentActionSheet(listDetailEvent.event.id)'>
          <ion-icon name="star"></ion-icon>
          <div> Interest Now</div>
        </ion-button>
        </ion-col>
        <!--button book-->
        <ion-col center 
        class="ion-text-center">
        <div *ngIf="listDetailEvent.event.avaible_for_booking && listDetailEvent.total_person_booking < listDetailEvent.event.max_number_for_booking && !listDetailEvent.user_booked; then avaible else notavaible"></div>

      <ng-template #avaible>
         <ion-button
         fill="outline" size="small"  color="secondary" (click)='booking(listDetailEvent.event.id,listDetailEvent.event.club_id,listDetailEvent.event.started_date)'>
           <ion-icon name="text"></ion-icon>
           <div>Book Now</div>
         </ion-button>
     </ng-template>   

      <ng-template #notavaible>
        <div>
         <ion-button
         fill="outline" size="small" disabled="disabled"  color="secondary" >
           <ion-icon name="text"></ion-icon>
           <div>Book Now</div>
         </ion-button>
        </div> 
      </ng-template>
       </ion-col>
      </ion-row>
      <ion-row>
        <ion-col >
        {{listDetailEvent.event.title}}
        </ion-col >
        </ion-row>
    </ion-card-title>
    <ion-card-subtitle>
      <ion-row>
        <ion-col>
        <ion-label>
          <ion-icon name="time" slot="start"></ion-icon>

          {{listDetailEvent.event.started_date?.substr(0,10)}} at {{listDetailEvent.event.started_date?.substr(11,5)}} PM 
          - {{listDetailEvent.event.ending_date?.substr(11,5)}} AM
        
        </ion-label>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-10>
        <ion-label>
          <ion-icon name="pin" slot="start"></ion-icon>
          {{listDetailEvent.event.location['adress']}},{{listDetailEvent.event.location['city']}}
        </ion-label>
        </ion-col>
        <ion-col col-2 class="ion-text-right">
          <ion-label >
            <a (click)='showMap(listDetailEvent.event.location)'>Show Map</a>
          </ion-label>
          </ion-col>
        </ion-row>
      
    </ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>

    <ion-row>
      <ion-col >
      {{listDetailEvent.nb_person_interested}} Interested
    </ion-col>
    <ion-col >
      {{listDetailEvent.nb_person_going}} Going
    </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
      <ion-item >
            <div>Detailes</div>
        </ion-item>
        </ion-col>
      </ion-row>
        <ion-row>
        <ion-col col-12 class="ion-text-justify">
          {{listDetailEvent.event.description}}
        </ion-col>
      </ion-row>
  </ion-card-content>

</ion-card>
