<!-- custom card list event-->
      <ion-card *ngIf="listEvent != undefined">
        <img src="{{listEvent.image}}" width="150" height="130" (click)='detailEvent(listEvent)'/>
        <ion-card-header  >
          <ion-card-title (click)='detailEvent(listEvent)'>{{listEvent.title}}</ion-card-title>
          <ion-card-subtitle>
            <ion-row (click)='detailEvent(listEvent)'>
              <ion-col>
              <ion-label>
                <ion-icon name="time" slot="start"></ion-icon>

                {{listEvent.started_date?.substr(0,16)}} 
                - {{listEvent.ending_date?.substr(0,16)}}
              
              </ion-label>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col col-10>
              <ion-label>

                  <ion-icon name="pin" slot="start"></ion-icon>
                  <!--{{listEvent.location['address']}},{{listEvent.location['city']}}-->
               
              </ion-label>
              </ion-col>
              <ion-col col-2 class="ion-text-right">
                <ion-label >
                  <a (click)='showMap(listEvent.location)'>Show Map</a>
                </ion-label>
                </ion-col>
              </ion-row>
            
          </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content (click)='detailEvent(listEvent)'>

          <div>
            {{trimString(listEvent.description,70)}}
          </div>
        </ion-card-content>
        <ion-footer>
          <ion-row>
            <ion-col center class="ion-text-center" >
              <!--button intersted-->
              <ion-button *ngIf="listEvent.user && listEvent.user.action === 'interested'" fill="solid" size="small"  color="primary" (click)='presentActionSheet(listEvent.id)'>
                <ion-icon  name="star"></ion-icon>
                <div >{{listEvent.user.action}}</div>
              
              </ion-button>
              <!--button going-->
              <ion-button *ngIf="listEvent.user && listEvent.user.action === 'going'" fill="solid" size="small"  color="primary" (click)='presentActionSheet(listEvent.id)'>
                <ion-icon  name="checkmark-circle"></ion-icon>
                <div>{{listEvent.user.action}}</div>
              </ion-button>
              <!--button not going-->
              <ion-button *ngIf="listEvent.user && listEvent.user.action === 'not_going'" fill="solid" size="small"  color="primary" (click)='presentActionSheet(listEvent.id)'>
                <ion-icon name="close"></ion-icon>
                <div>Not Going</div>
                </ion-button>
              <!--button default-->
              <ion-button *ngIf="!listEvent.user" fill="outline" size="small"  color="secondary" (click)='presentActionSheet(listEvent.id)'>
                <ion-icon name="star"></ion-icon>
                <div> Interest Now</div>
              </ion-button>

            </ion-col>
            <ion-col center 
             class="ion-text-center">
             <div *ngIf="listEvent.avaible_for_booking && listEvent.booking_count < listEvent.max_number_for_booking && !listEvent.userbooking; then avaible else notavaible"></div>

           <ng-template #avaible>

              <ion-button
              fill="outline" size="small"  color="secondary" (click)='booking(listEvent.id,listEvent.club_id,listEvent.started_date)'>
                <ion-icon name="text"></ion-icon>
                <div>Book Now</div>
              </ion-button>

          </ng-template>   

           <ng-template #notavaible>

              <ion-button
              fill="outline" size="small" disabled="disabled"  color="secondary" >
                <ion-icon name="text"></ion-icon>
                <div>Book Now</div>
              </ion-button>

           </ng-template>
            </ion-col>
          </ion-row>
        </ion-footer>
      </ion-card>

<!-- custom card list promos-->