<app-custom-header title="Night Clubs"
icon_right="notification"
icon_left="back" ></app-custom-header>

<ion-content class="ion-padding">
 
  <div class="card">
    <div class="header">
      <div class="avatar">
          <img src="https://www.gravatar.com/avatar/44830cc792898eca36922a70d98bf6ea">
          <ion-fab vertical="center" horizontal="center" >
            <ion-fab-button class="mini">
              <ion-icon name="camera"></ion-icon>
            </ion-fab-button>
        </ion-fab>
      </div>
    </div>
    <div class="card-body">
      <div class="user-meta ion-text-center" *ngIf="user != undefined">
        <h3 class="playername">{{ user.first_name  }} {{ user.last_name  }}</h3>


<ion-item>
  <ion-label position="floating" color="primary">Name</ion-label>
  <ion-input [(ngModel)]="firstname" value="{{ user.first_name  }}"  type="text"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating" color="primary">Last name</ion-label>
  <ion-input [(ngModel)]="lastname" type="text" value="{{ user.last_name  }}" ></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating" color="primary">Email</ion-label>
  <ion-input [(ngModel)]="email" disabled="disabled" type="text"  value="{{ user.email  }}"></ion-input>
</ion-item>




  <ion-item>
    <ion-label position="floating" color="primary">Phone</ion-label>
    <ion-input [(ngModel)]="tel"  type="text" value="{{ user.tel  }}" ></ion-input>
  </ion-item>


<ion-button color="primary" (click)='updateProfile()' class="submit-btn" expand="full" type="submit" >Validate</ion-button>

      </div>
    </div>
  </div>


</ion-content>
<app-custom-tabs></app-custom-tabs>