<app-custom-header title="Night Clubs"
icon_right="notification"
icon_left="menu" ></app-custom-header>

<ion-content >
  
  <div class="banier">
    <img src="../../assets/pub.jpg"/>

  </div>

  <div class="lsitclub" class="ion-padding">
    <ion-grid>
      <ion-row>
        <ion-col col-10>
          <h4>List Club</h4>
        </ion-col>

        <ion-col col-2>
          <ion-list>
            <ion-item>
              <ion-label>Add Club</ion-label>
              <ion-select multiple="true" (ionChange)="addClub($event)" >
                <ion-select-option *ngFor="let rlc of restlistclub" [value]="rlc.id" >{{rlc.name}}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
        </ion-col>

  </ion-row>
      </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col col-2 center *ngFor="let ci of club">
        <ion-button ion-button  shape="round" fill="outline" color="secondary" (click)='showClub(ci.id)'>
          {{ci.name}}
        </ion-button>
      </ion-col>

    </ion-row>
  </ion-grid>
    </div>


</ion-content>
<app-custom-tabs></app-custom-tabs>