<ion-footer>
  <ion-toolbar>
    <ion-tabs>

       <ion-tab-bar slot="bottom">
        <ion-tab-button (click)='home()' >
          <ion-icon name="speedometer" *ngIf="colorHome != undefined" color="{{colorHome}}"></ion-icon>
          <ion-label *ngIf="colorHome != undefined" color="{{colorHome}}" >Home</ion-label>
        </ion-tab-button>
    
        <ion-tab-button >
          <ion-icon name="flame" *ngIf="colorActuality != undefined" color="{{colorActuality}}"></ion-icon>
          <ion-label *ngIf="colorActuality != undefined" color="{{colorActuality}}">Actuality</ion-label>
        </ion-tab-button>
    
        <ion-tab-button >
          <ion-icon name="qr-scanner" *ngIf="colorCheck != undefined" color="{{colorCheck}}"></ion-icon>
          <ion-label *ngIf="colorCheck != undefined" color="{{colorCheck}}">Check In</ion-label>
        </ion-tab-button>
    


    
    </ion-tab-bar>
    
    </ion-tabs>
  </ion-toolbar>


</ion-footer>