<ion-header>
  <ion-toolbar>
    <ion-title>Checklist</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="checkclubs" >
    <ion-list>
      <ion-list-header>Choose your Clubs</ion-list-header>
        <ion-item *ngFor="let c of club">
          <ion-label>{{c.name}}</ion-label>
          <ion-checkbox [value]="c.id" color="primary"  slot="start" (ionChange)="addclub($event)"></ion-checkbox>
        </ion-item>
      </ion-list>
    
    <ion-button ion-button outline color="secondary" (click)='validate()'>
      Validate
      <ion-icon slot="end" name="checkmark"></ion-icon>
    </ion-button>
  </div>


</ion-content>
